
body {
background-color: #f77f00;
color: #2a9d8f;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;

}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
}

h2{
    color: #118ab2;
}

p i{
    font-size: 1.1em;
    color: #e9c46a;
}

a {
    color: #edf6f9;
    text-decoration: none;
}

#skillsboldlink {
    font-weight: bold;
    color: #e9c46a;
    font-size: 1.1em;
}
