
body {
background-color: #f77f00;
color: #2a9d8f;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
padding: 3%;

}
div {
    
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
}

h2{
    color: #118ab2;
    padding-left: 10px;
}

p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

p i{
    font-size: 1.1em;
    color: #e9c46a;
}

a {
    color: #edf6f9;
    text-decoration: none;
}

a:hover{
    color: #118ab2;
     ;
}

img{
    border: 5px solid #2a9d8f;
    float: left;
    height: 280px;
    padding: 10px;
    background-color: #2a9d8f;
}

img:hover{
    border: 5px solid white;
}

#skillsboldlink {
    font-weight: bold;
    color: #e9c46a;
    font-size: 1.1em;
}

#skillsboldlink:hover {
    color: white;
}

.summary li{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-right: 10%;
}

.description{
    height: 300px;
    padding-left: 320px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.name{
    text-align: center;
}

ol li:nth-child(even){
    background-color: #00ffff;
}